.square {
    width: 7rem;
    height: 7rem;
    background-color: #232121;
    font-size: 3rem;
    text-shadow: 1px 1px 3px #c4bfbf;
    border: 2px solid var(--bgColor);
    color: var(--bgColor);
}