.history{
    margin: 1rem auto;
    width: 20rem;
    border: 1px solid white;
    border-radius: 0.5rem;
}
.history__moves{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.6rem;
}
.history__title{
    font-size: 1.4rem;
    color: white;
    text-align: center;
    margin-bottom: 0.4rem;
}
